body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.chat-window {
  border: 1px solid #ccc;
  padding: 10px;
  width: 500px;
  margin: auto;
  background: #f9f9f9;
}

.messages {
  margin-top: 10px;
}

.bubble {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 80%;
}

.user {
  background: #d1e7dd;
  align-self: flex-end;
  text-align: right;
}

.bot {
  background: #f8d7da;
  align-self: flex-start;
  text-align: left;
}
